.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;

  max-width: 30vw;

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-calendar {
    position: relative;
  }

  &-hobby {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}


.toggle {
  position: absolute;
  right: 0;
  top: 1.5rem;
}

.alert {
  height: 50px;
}