.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;

  width: 25vw;

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-calendar {
    position: relative;
  }

  &-toggle {
    position: absolute;
    right: 0;
    top: 1.5rem;
  }

  &-hobby {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
  }
}

.alert-success {
  position: relative;
  top: 20vh;
}


