<form
  action="#"
  name="candidateForm"
  class="form container form-group"
  [formGroup]="candidateForm"
  (ngSubmit)="onSubmit()"
  novalidate
>
  <label for="firstName" class="form-row control-label">
    Name:
  </label>
  <input
    name="firstName"
    class="form-control"
    id="firstName"
    type="text"
    formControlName="firstName"
    required
  >
  <span
    class="alert alert-danger" 
    *ngIf="firstName.getError('required') && (firstName.touched || firstName.dirty)"
  >
    Name is required
  </span>

  <label for="lastName" class="form-row">
    Lastname:
  </label>
  <input
    name="lastName"
    class="form-control"
    id="lastName"
    type="text"
    formControlName="lastName"
    required
  >
  <span
    class="alert alert-danger"
    *ngIf="lastName.getError('required') && (lastName.touched || lastName.dirty)"
  >
    Surname is required
  </span>

  <mat-form-field appearance="fill" class="form-calendar">
    <mat-label class="form-row control-label">
      <b>Choose the date</b>
    </mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="dateOfBirth"
      class="form-control"
      required
    >
    <mat-datepicker #picker></mat-datepicker>
    <mat-datepicker-toggle class="toggle" matSuffix [for]="picker"></mat-datepicker-toggle>
  </mat-form-field>
  <mat-error
    class="alert alert-danger"
    *ngIf="dateOfBirth.getError('required') && (dateOfBirth.touched || dateOfBirth.dirty)"
  >
    Date of birth is required.
  </mat-error>
  
  <label for="jsTechnology" class="form-row">
    Framework:
  </label>
  <select
    name="jsTechnology"
    class="form-control"
    id="jsTechnology"
    formControlName="jsTechnology"
    (change)="onFrameworkChange($event)"
    required
  >
    <option value="" disabled>Select framework</option>
    <option
      *ngFor="let framework of technologies | keyvalue"
      [value]="framework.key"
    >
      {{framework.key}}
    </option>
  </select>
  <span
    class="alert alert-danger"
    *ngIf="jsTechnology.getError('required') && jsTechnology.touched"
  >
    Select framework!
  </span>

  <div class="version" *ngIf="selectedFramework">
    <label for="technologyVersion" class="form-row">
      Framework version:
    </label>
    <select
      name="version"
      class="form-control"
      id="technologyVersion"
      formControlName="technologyVersion"
      required
    >
      <option
        *ngFor="let versions of technologies[selectedFramework] | keyvalue"
        [value]="versions.value"
      >
        {{versions.value}}
      </option>
    </select>
  </div>
  <span
    class="alert alert-danger"
    *ngIf="technologyVersion.getError('required') && technologyVersion.touched"
  >
    Select versions!
  </span>

  <label for="email" class="form-row">
    Email:
  </label>
  <input
    name="email"
    class="form-control"
    id="email"
    type="text"
    formControlName="email"
    email
    required
  >
  <span
    class="alert alert-danger"
    *ngIf="email.getError('required') && email.touched"
  >
    Email is required!
  </span>
  <span
    class="alert alert-danger"
    *ngIf="email.getError('email') && email.touched"
  >
    Email is invalid!
  </span>
  <span
    class="alert alert-danger"
    *ngIf="email.getError('emailExists')"
  >
    Email is already exist!
  </span>

  <div formGroupName="hobby">
    <label for="name" class="form-row">
      Name of hobby:
    </label>
    <input
      name="hobby"
      class="form-control"
      id="hobby"
      type="text"
      formControlName="name"
      required
    >

    <label for="duration" class="form-row">
      Expirience:
    </label>
    <input
      name="hobbyExpirience"
      class="form-control"
      id="hobbyExpirience"
      type="text"
      formControlName="duration"
      required
    >
  </div>

  <span
    class="alert alert-danger"
    *ngIf="(name.getError('required') && name.touched)
      || (duration.getError('required') && duration.touched)"
  >
  Hobby info required.
</span>

  <button type="submit" class="btn btn-default">
    Send form
  </button>
</form>